{% extends "zhome/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "login"|capfirst %}{% endblock title %}

{% block base_body %}

    <!-- Breadcrumb -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="shadow breadcrumb bg-light">
                <li class="breadcrumb-item active"><a class="s1"
                                                      href="{% url 'zhome:index' %}">{% translate "home"|capfirst %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{% translate "login"|capfirst %}</li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <br>

        <div class="row">

            <div class="col-sm-6">
                <!-- Login card -->
                <div class="shadow card">
                    <h5 class="card-header">{% translate "login"|capfirst %}</h5>
                    <div class="card-body">
                        {% if form.errors %}
                            <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}

                        <!-- Redirect -->
                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>Your account doesn't have access to this page. To proceed,
                                    please login with an account that has access.</p>
                            {% else %}
                                <p>Please login to see this page.</p>
                            {% endif %}
                        {% endif %}

                        <!-- Form -->
                        <form method="post" action="{% url 'zauth:alogin' %}">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary"
                                    value="login">{% translate "login"|capfirst %}</button>
                            <input type="hidden" name="next" value="{{ next }}">
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock base_body %}
