{% extends "zhome/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "password reset confirm"|capfirst %}{% endblock title %}

{% block base_body %}

    <!-- Breadcrumb -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="shadow breadcrumb bg-light">
                <li class="breadcrumb-item active"><a class="s1"
                                                      href="{% url 'zhome:index' %}">{% translate "home"|capfirst %}</a>
                </li>
                <li class="breadcrumb-item active"
                    aria-current="page">{% translate "password reset confirm"|capfirst %}</li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <br>

        <div class="row">

            <div class="col-sm-6">
                <!-- Password reset confirm card -->
                <div class="shadow card">
                    <h5 class="card-header">{% translate "password reset"|capfirst %}</h5>
                    <div class="card-body">
                        done
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock base_body %}
