{% extends "zhome/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "user profile"|capfirst %}{% endblock title %}

{% block base_body %}

    <!-- Breadcrumb -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="shadow breadcrumb bg-light">
                <li class="breadcrumb-item active"><a class="s1"
                                                      href="{% url 'zhome:index' %}">{% translate "home"|capfirst %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{% translate "user profile"|capfirst %}</li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <br>

        <!-- Cards -->
        <div class="row">
            <div class="col-sm-6">

                <!-- Profile card -->
                <div class="shadow card">
                    <h5 class="card-header">{% translate "user profile"|capfirst %}</h5>
                    <div class="card-body">
                        {% if user.is_authenticated %}
                            <table class="table table-hover table-sm table-borderless">
                                <tbody></tbody>
                                <!-- username -->
                                <tr class="text-secondary">
                                    <th scope="row" style="width: 40%;">{% translate "username"|capfirst %}</th>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <!-- firstname -->
                                {% if user.first_name %}
                                    <tr class="text-secondary">
                                        <th scope="row" style="width: 40%;">{% translate "firstname"|capfirst %}</th>
                                        <td>{{ user.first_name }}</td>
                                    </tr>
                                {% endif %}
                                <!-- lastname -->
                                {% if user.last_name %}
                                    <tr class="text-secondary">
                                        <th scope="row" style="width: 40%;">{% translate "lastname"|capfirst %}</th>
                                        <td>{{ user.last_name }}</td>
                                    </tr>
                                {% endif %}
                                <!-- email -->
                                <tr class="text-secondary">
                                    <th scope="row" style="width: 40%;">{% translate "email"|capfirst %}</th>
                                    <td>{{ user.email }}</td>
                                </tr>

                                </tbody>
                            </table>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock base_body %}
